@charset "UTF-8";

.container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.camplist_inner {
	width: 100%;
}

.whatever {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.camplist_Top {
	width: 100%;
}

.table_left {
	width: 40%;
}

.camplist {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.camplist img{
	cursor:pointer;
}

.wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}
.camplist_bottom {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pagingDiv{
	display:flex;
}
.pagingDiv div {
    margin-right: 5px;
    cursor:pointer;
}