@charset "UTF-8";

body{
	background-color : black;
	
}

#list{
	background-color : lightgray;
	color : black;
	
	border: solid 2px white;
	border-radius: 12px;
	
	position : relative;
	top : 30px;
	left : 20%;
	width : 80px;
	height : 40px;
	
	cursor : pointer;
	
	
}

#title{
	background-color : white;
	color : black;
	
	position : relative;
	top : 20px;
	left : 23%;
}

#memberID{
	background-color : white;
	color : black;
	position : relative;
	top : 50px;
	left : 13.5%;
}

#content{
	background-color : white;
	color: black;
	position : relative;
	top : 60px;
	left : 28%;
	width: 40%;
	height: 350px;
	margin-right: 0px;
}



#image{
	display: none;
}
#imagebutton{
	background-color:skyblue;
	color: white;
	border: 1px solid white;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
	top: 50px;
	left: 28%;
}
#comimage{
	max-width:200px;
	max-height: 180px;
	position: relative;
	top: 55px;
	left: 35%;
}
.save{
	background-color: skyblue;
	color: white;
	border: 1px solid white;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
	top: 60px;
	left: 64%;
}
.cancel{
	background-color: skyblue;
	color: white;
	border: 1px solid white;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
	top: 60px;
	left: 64%;
}