@charset "UTF-8";

.communityboard{
	
	padding: 0;
	margin: auto;
	width: 80%;
}
.board{
	margin: auto;
	background-color: black;
	color: white;
}
#boardwrite{
	cursor: pointer;
	background-color: skyblue;
	color: white;

	width: 80px;
	height: 40px;
	
	position: relative;
	left: 58%;
	top: 20px;
	border: solid 2px ;
	border-radius: 12px;
}
#serachbox{
	background-color: white;
	color: black;
	position: relative;
	left: 40%;
	top: 40px;
	
	width: 140px;
	height: 30px;
}
body{
	background-color: black;
}
#contentnum{
	color: black;
}
#cn1{
	color: black;
}
#cn2{
	color: black;
}
#cn3{
	color: black;
}
.paging{
	background-color: blue;
	
	position: relative;
	top : 40px;
	left : 35%;
	width: 30%;
	heigth: 30%;
}
#searchoption{
	background-color : white;
	color: black;
	width: 60px;
	heigth: 30px;
	position: relative;
	top : 40px;
	left: 40%;
}
#st{
	color: black;
}
#sc{
	color: black;
}
#sw{
	color: black;
}
#searchbutton{
	color: black;
	position: relative;
	top : 40px;
	left: 40%;
}
#contentnum{
	position: relative;
	top : -20px;
	left: 35%;
}