@charset "UTF-8";

.communityboard{
	
	padding: 0;
	margin: auto;
	width: 50%;
	heigth: 40%;
}
.board{
	margin: auto;
	background-color: black;
	color: white;
	position:relative;
	left: 13%;
}
#boardwrite{
	cursor: pointer;
	background-color: skyblue;
	color: white;

	width: 80px;
	height: 40px;
	
	position: relative;
	left:65%;
	top: 20px;
	border: solid 2px ;
	border-radius: 12px;
}
#serachbox{
	background-color: white;
	color: black;
	position: relative;
	left: 50%;
	top: 40px;
	width: 140px;
	height: 30px;
	
	
}
body{
	background-color: black;
	
	
}
#contentnum{
	color: black;
	
}
#cn1{
	color: black;
}
#cn2{
	color: black;
}
#cn3{
	color: black;
}
.paging{
	
	
	position: relative;
	top : 20px;
	left : 50%;
	width: 30%;
	heigth: 30%;
}
#searchoption{
	background-color : white;
	color: black;
	width: 60px;
	heigth: 30px;
	position: relative;
	top : 35px;
	left: 50%;
}
#st{
	color: black;
}
#sc{
	color: black;
}
#sw{
	color: black;
}
#searchbutton{
	color: black;
	position: relative;
	top : 40px;
	left: 50%;
}
#contentnum{
	position: relative;
	top : 15px;
	left: 60%;
}
.adminwrite{
	display: none;
	background-color: skyblue;
	position: relative;
	left: 2%;
	top: 15px;
	border: 1px solid white;
	border-radius : 6px;
	cursor: pointer;
	
}
.communitytop{
	position: relative;
	left: 45%;
	top: -40px;
	font-size: 30px;
}
.communityleft{
	width: 9%;
	heigth: 80%;
	margin: auto;
	border: 1px solid white;
	display: inline-block;
	float:left;
	position: relative;
	left: 25%;
	top: 45px;
}
.communitycategory:hover{
	text-decoration: underline;
}
.communitymenu{
	text-align: center;
	width: 100%;
}
.communitycenter{
	width: 80%;
	
}
.boardsearch{
	position: relative;
	left: -4%;
}

.boardadd{
	position: relative;
	left: 30%;
	width: 70%;
}

.selectcontentnum{
	position: relative;
	left: 6%;
	top: 9px;
}