@charset "UTF-8";

a {

}
.logo{
	background: black;
}


.nav-container{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0;
	padding: 0;
	background: black;
	list-style-type: none;
	position: fixed;
	top: 0;
}
.nav-item{
	padding: 20px;
	cursor: pointer;
}
.nav-item > a {
	text-align: center;
	text-decoration: none;
	color: white;
}