@charset "UTF-8";

body{
	background-color: black;
	color: white;
	width: 100%;
	height: 70%;
}
.body{
	width: 100%;
	height: 80%;
	position:relative;
	top: 120px;
	left: 20%;
}
.paging{
	position:relative;
	top: 150px;
	left: 50%;
}
#usedtradewrite{
	cursor: pointer;
	color: white;
	background-color: skyblue;
	border: 1px solid white;
	border-radius: 6px;
	width: 70px;
	height: 35px;
	position:relative;
	
}
#searchoption{
	color: black;
	position: relative;
	left: 25%;
}
#st{
	color: black;
}
#sw{
	color: black;
}
#sc{
	color: black;
}

#searchbox{
	width: 210px;
	height: 40px;
	color: black;
	position: relative;
	left: 25%;
}

#searchbutton{
	color:white;
	background-color: skyblue;
	border: 1px solid white;
	cursor: pointer;
	position: relative;
	left: 25%;
}
.usedtradelist{
	width: 17%;
	margin: 10px;
	
}
.Thumbnail{
	width: 142px;
	hieght: 158px;
}
.usedtradeboard{
	display: flex;
	width: 80%;
	height: 70%;
	flex-wrap: wrap;
	
}
