@charset "UTF-8";

#ut{
	color: black;
	position: relative;
	
}
#member{
	color: black;
	position: relative;
	left: -0.9%;
	
}
#un{
	color: black;
	position: relative;
	left: -0.9%;
	
}
#up{
	color: black;
	position: relative;
	
}
#uc{
	color: black;
	position: relative;
	
}
body{
	background-color: black;
}
#menubutton{
	display:none;
}
#mb{
	cursor: pointer;
	font-size: 40pt;
}
#boardupdate{
	background-color: skyblue;
	cursor: pointer;
	border: 1px solid white;
	border-radius: 6px;
	display: none;
	position: relative;
	left: 58.3%;
}
#boarddelete{
	background-color: skyblue;
	cursor: pointer;
	border: 1px solid white;
	border-radius: 6px;
	display: none;
	position: relative;
	left: 58.3%;
}

.Thumbnail{
	width: 142px;
	hieght: 158px;
	position: relative;
	left: 35%;
}
.detailcategory{
	position: relative;
	left: -1%;
	
}
.boardmain{
	position: relative;
	left: 32%;
}
.boardbutton{
	position: relative;
	left: -9%;
}