@charset "UTF-8";

#ut{
	color: black;
}
#member{
	color: black;
}
#un{
	color: black;
}
#up{
	color: black;
}
#uc{
	color: black;
}
body{
	background-color: black;
}
#menubutton{
	display:none;
}
#mb{
	cursor: pointer;
	font-size: 40pt;
}

#uploadfile{
	display:none;
}
.inputfilebutton{
	cursor:pointer;
	
	background-color:skyblue;
	border: 1px solid white;
	border-radius: 6px;
}
#boardok{
	cursor: pointer;
	background-color:skyblue;
	border: 1px solid white;
	border-radius: 6px;
}